In [1]:
# Here several helpful packages to load
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

#importing libraries
import numpy as np
import regex
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

In [2]:
#reading the CSV file into dataframe df
# Data should be located in the same folder as the notebook for this to work
df = pd.read_csv('LA_Crime_Data_2023_to_Present_test1.csv') 

# print basic info about the data frame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78017 entries, 0 to 78016
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      78017 non-null  int64
 1   DR_NO           78017 non-null  int64
 2   Date Rptd       78017 non-null  object
 3   DATE OCC        78017 non-null  object
 4   TIME OCC        78017 non-null  int64
 5   AREA            78017 non-null  int64
 6   AREA NAME       78017 non-null  object
 7   Rpt Dist No     78017 non-null  int64
 8   Part 1-2        78017 non-null  int64
 9   Crm Cd          78017 non-null  int64
 10  Crm Cd Desc     78017 non-null  object
 11  Mocodes         59662 non-null  object
 12  Vict Age        78017 non-null  int64
 13  Vict Sex        60161 non-null  object
 14  Vict Descent    60157 non-null  object
 15  Premis Cd       78014 non-null  float64
 16  Premis Desc     77987 non-null  object
 17  Weapon Used Cd  14517 non-null  float64
 18  Weapon Desc     14517 non-null  object
 19  Status          78017 non-null  object
 20  Status Desc     78017 non-null  object
dtypes: float64(2), int64(8), object(11)
memory usage: 12.5+ MB

In [3]:
# Set column 'DR_NO' Index and remove unamed
df = df.set_index('DR_NO')
df = df.rename_axis('DR_NO_INDEX')
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78017 entries, 240812002 to 240122274
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date Rptd       78017 non-null  object
 1   DATE OCC        78017 non-null  object
 2   TIME OCC        78017 non-null  int64
 3   AREA            78017 non-null  int64
 4   AREA NAME       78017 non-null  object
 5   Rpt Dist No     78017 non-null  int64
 6   Part 1-2        78017 non-null  int64
 7   Crm Cd          78017 non-null  int64
 8   Crm Cd Desc     78017 non-null  object
 9   Mocodes         59662 non-null  object
 10  Vict Age        78017 non-null  int64
 11  Vict Sex        60161 non-null  object
 12  Vict Descent    60157 non-null  object
 13  Premis Cd       78014 non-null  float64
 14  Premis Desc     77987 non-null  object
 15  Weapon Used Cd  14517 non-null  float64
 16  Weapon Desc     14517 non-null  object
 17  Status          78017 non-null  object
 18  Status Desc     78017 non-null  object
dtypes: float64(2), int64(6), object(11)
memory usage: 11.9+ MB

In [4]:
# Convert the columns to a suitable data type
df['Date Rptd'] = df['Date Rptd'].apply(lambda x: datetime.strptime(x, '%m/%d/%Y %I:%M:%S %p'))
df['DATE OCC'] = df['DATE OCC'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))
df['AREA NAME'] = df['AREA NAME'].astype('string')
df['Crm Cd Desc'] = df['Crm Cd Desc'].astype('string')
df['Mocodes'] = df['Mocodes'].astype('string')
df['Vict Sex'] = df['Vict Sex'].astype('string')
df['Vict Descent'] = df['Vict Descent'].astype('string')
df['Premis Desc'] = df['Premis Desc'].astype('string')
df['Weapon Desc'] = df['Weapon Desc'].astype('string')
df['Status'] = df['Status'].astype('string')
df['Status Desc'] = df['Status Desc'].astype('string')

# Checking dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78017 entries, 240812002 to 240122274
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date Rptd       78017 non-null  datetime64[ns]
 1   DATE OCC        78017 non-null  datetime64[ns]
 2   TIME OCC        78017 non-null  int64
 3   AREA            78017 non-null  int64
 4   AREA NAME       78017 non-null  string
 5   Rpt Dist No     78017 non-null  int64
 6   Part 1-2        78017 non-null  int64
 7   Crm Cd          78017 non-null  int64
 8   Crm Cd Desc     78017 non-null  string
 9   Mocodes         59662 non-null  string
 10  Vict Age        78017 non-null  int64
 11  Vict Sex        60161 non-null  string
 12  Vict Descent    60157 non-null  string
 13  Premis Cd       78014 non-null  float64
 14  Premis Desc     77987 non-null  string
 15  Weapon Used Cd  14517 non-null  float64
 16  Weapon Desc     14517 non-null  string
 17  Status          78017 non-null  string
 18  Status Desc     78017 non-null  string
dtypes: datetime64[ns](2), float64(2), int64(6), string(9)
memory usage: 11.9 MB

In [5]:
# Map Target Column

# Mapping dictionary
mapping = {
            'IC': 'No Arrest'
            ,'AA': 'Arrest'
            ,'AO': 'No Arrest'
            ,'JO': 'No Arrest'
            ,'JA': 'Arrest'
            ,'CC': 'No Arrest'
}
# Create target variable based in the status variable 
df['Target'] = df['Status'].map(mapping)

# Checking dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 78017 entries, 240812002 to 240122274
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date Rptd       78017 non-null  datetime64[ns]
 1   DATE OCC        78017 non-null  datetime64[ns]
 2   TIME OCC        78017 non-null  int64
 3   AREA            78017 non-null  int64
 4   AREA NAME       78017 non-null  string
 5   Rpt Dist No     78017 non-null  int64
 6   Part 1-2        78017 non-null  int64
 7   Crm Cd          78017 non-null  int64
 8   Crm Cd Desc     78017 non-null  string
 9   Mocodes         59662 non-null  string
 10  Vict Age        78017 non-null  int64
 11  Vict Sex        60161 non-null  string
 12  Vict Descent    60157 non-null  string
 13  Premis Cd       78014 non-null  float64
 14  Premis Desc     77987 non-null  string
 15  Weapon Used Cd  14517 non-null  float64
 16  Weapon Desc     14517 non-null  string
 17  Status          78017 non-null  string
 18  Status Desc     78017 non-null  string
 19  Target          78017 non-null  object
dtypes: datetime64[ns](2), float64(2), int64(6), object(1), string(9)
memory usage: 12.5+ MB

In [6]:
# Drop the columns we dont want 
df = df.loc[:, ~df.columns.str.contains('AREA NAME')]
df = df.loc[:, ~df.columns.str.contains('Part 1-2')]
df = df.loc[:, ~df.columns.str.contains('Crm Cd Desc')]
df = df.loc[:, ~df.columns.str.contains('Premis Desc')]
df = df.loc[:, ~df.columns.str.contains('Weapon Desc')]
df = df.loc[:, ~df.columns.str.contains('Status Desc')]
df = df.loc[:, ~df.columns.str.contains('Date Rptd')]

# for now will remove mocodes
df = df.loc[:, ~df.columns.str.contains('Mocodes')]

In [7]:
# convert Date OCC to be useable data
# convert date to a value of 1-12 represent Jan - Dec

df['MONTH OCC'] = df['DATE OCC'].dt.month

df = df.loc[:, ~df.columns.str.contains('DATE OCC')]

In [8]:
# convert Time OCC to be useable data
# 0 - 6 (EM - Early Morning)
# 6 - 12 (M - Morning)
# 12 - 18 (AN - Afternoon)
# 18 - 24 (N - Night)

# Change data type
df['TIME OCC'] = df['TIME OCC'].astype('string')

# Pad the 'TIME OCC' column values with leading zeros to ensure a 4-digit format
df['TIME OCC'] = df['TIME OCC'].str.zfill(4)

# set up a temp column to have correct format then extract only hour
df['TEMP'] = pd.to_datetime(df['TIME OCC'], format='%H%M')
df['HOUR'] = df['TEMP'].dt.hour

# Mapping function
def MappingTime(hour):
    if 0 <= hour < 6:
        return 'EM'  
    elif 6 <= hour < 12:
        return 'M'   
    elif 12 <= hour < 18:
        return 'AN'  
    elif 18 <= hour < 24:
        return 'N'   

df['TIME PERIOD OCC'] = df['HOUR'].apply(MappingTime)

# now clean up the extra time occ stuff
df = df.loc[:, ~df.columns.str.contains('TIME OCC')]
df = df.loc[:, ~df.columns.str.contains('TEMP')]
df = df.loc[:, ~df.columns.str.contains('HOUR')]

df['TIME PERIOD OCC'] = df['TIME PERIOD OCC'].astype('string')

In [9]:
# Get total count of duplicated rows
df.duplicated().sum()

5899

In [10]:
# Find all duplicates
duplicates = df[df.duplicated(keep=False)]

In [11]:
# Remove duplicate rows
df = df.drop_duplicates()

# Check for duplicates
df.duplicated().sum()

0

In [12]:
# get percentage of null values
total_count = len(df)

# loop each column
for column in df.columns:
    null_count = df[column].isnull().sum()
    null_percentage = round((null_count / total_count) * 100,1)
    print(f"Column '{column}': {null_percentage} % of null values")

Column 'AREA': 0.0 % of null values
Column 'Rpt Dist No': 0.0 % of null values
Column 'Crm Cd': 0.0 % of null values
Column 'Vict Age': 0.0 % of null values
Column 'Vict Sex': 21.7 % of null values
Column 'Vict Descent': 21.7 % of null values
Column 'Premis Cd': 0.0 % of null values
Column 'Weapon Used Cd': 80.0 % of null values
Column 'Status': 0.0 % of null values
Column 'Target': 0.0 % of null values
Column 'MONTH OCC': 0.0 % of null values
Column 'TIME PERIOD OCC': 0.0 % of null values

In [13]:
#Fill missing values (NaN) in 'Weapon Used Cd' column with 0
df.loc[df['Weapon Used Cd'].isna(), 'Weapon Used Cd'] = 0

In [14]:
# Filter the DataFrame 'df' to exclude rows where 'Vict Age' is either 0 or NaN
df = df[(df['Vict Age'] != 0)& (df['Vict Age'].notna())]
df.loc[:,'Vict Age'].head(10)

DR_NO_INDEX
240909349    30
240707631    34
242106162    35
240906594    39
240913584    42
241008074    40
240110376    31
240904302    40
242007587    27
240705503    23
Name: Vict Age, dtype: int64

In [15]:
# Filter the DataFrame 'df' to exclude rows where 'Vict Sex' is 'X' (Unknown), 'H' (invalid), or NaN
df = df[(df['Vict Sex'] != 'X')& (df['Vict Sex'] != 'H')&(df['Vict Sex'].notna())]

In [16]:
# Filter the DataFrame 'df' to exclude rows where 'Vict Descent' is '-' or missing (NaN)
df = df[(df['Vict Descent'] != '-') & (df['Vict Descent'].notna())]
df.loc[: ,'Vict Descent'].head(10)

DR_NO_INDEX
240909349    H
240707631    B
242106162    W
240906594    O
240913584    W
241008074    O
240110376    V
240904302    H
242007587    H
240315313    H
Name: Vict Descent, dtype: string

In [17]:
# Drop rows with missing values (NaN) from the DataFrame 'df'
df = df.dropna()

In [18]:
# get rid of outliers for victim
# went with min of 5 years and max of 90

for age in df['Vict Age']:
    if age <= 0:
        print(age)


df = df[df['Vict Age'] > 5]
df = df[df['Vict Age'] < 90]

In [19]:
# filter crime code outliers
# there are some crime codes that only has like 3 rows 
crm_count = df['Crm Cd'].value_counts()

bad_crm = crm_count[crm_count >= 100].index

# get rid of any crm cd that has a total count of 100 or less
df = df[df['Crm Cd'].isin(bad_crm)]

In [20]:
# drop where status == CC 
# there are only 2 CC in the entire training file
df = df[df['Status'] != 'CC']

In [21]:
df.to_csv('clean_testing_andy.csv', index=True)